body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.NavLink{
  color: white !important;

}
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

.user_card {
  height: 500px;
  width: 350px;
  margin-top: 10%;
  margin-bottom: auto;
  background: #2ab1ce;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;

  }
  .user_card1 {
    height: 500px;
    width: 400px;
    margin-top: 10%;
    margin-bottom: auto;
    background: #2ab1ce;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
  
    }
  .brand_logo_container {
  position: absolute;
  height: 170px;
  width: 170px;
  top: -75px;
  border-radius: 50%;
  background: #C8C3C3;
  padding: 10px;
  text-align: center;
  }
  .brand_logo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid white;
  }
  .form_container {
  margin-top: 100px;
  }
  .login_btn {
  width: 100%;
  background: #4d4d4d !important;
  color: white !important;
  }
  .login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
  }
  .login_container {
  padding: 0 2rem;
  }
  .input-group-text {
  background: #4d4d4d  !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
  }
  .input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
  }
  .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #4d4d4d !important;
  }
a {
  color: white;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.file{
     font-size: 0.8rem !important; 
     line-height: 0.9rem !important; 
     width:90%;
    border-radius: .3rem;
}
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
.dropdown-menu {
  right: 0;
  left: auto;
}
input[type=submit]:hover {
  background-color: #45a049;
}

.container1 {
  margin: auto;
  border-radius: 5px;
  background-color: #8a8a8a;
  padding: 20px;
  width: 80%;
}

.container2 {
  margin: auto;
  border-radius: 50px;
  background-color: #424244;
  padding: 20px;
  width: 90%;
}
.containerx {
  margin: auto;
  border-radius: 50px;
  background-color: #424244;
  padding: 0px;
  width: 130%;
}



.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
.circular_image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  background-color: blue;
  /* commented for demo
  float: left;
  margin-left: 125px;
  margin-top: 20px;
  */
  
  /*for demo*/
  display:inline-block;
  vertical-align:middle;
}
.circular_image img{
  width:80%;
}